@Import url('https: //fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}
body
{
    background: lightblue;
    margin: 0 auto;
    width: 900px;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 1000px;
    margin: 60px;
    background:	#fff;
    display: flex;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left_side
{
    position: relative;
    background: #2483af;
}
.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: px;
    background: #0e628a;
}
.profileText .imgBx
{
    position: relative;
    width: 170px;
    height: 170px;
    border-radius: 100%;
    overflow:auto;
    top: 0.5cm;
    
}
.profileText .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2
{
    color: #fff;
    font-size: 1.3em;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    line-height: 1.2em;
}
.profileText h2 span
{
    font-style:oblique;
    font-size: 0.8em;
    font-weight: 300;
}
.contactinfo
{
    position:relative;
    top: 1%;
}
.contactinfo ul li
{
    display: flex;
    align-self:auto;
    margin-bottom: 10px;
}
.contactinfo ul li .icon
{
    background-color: #0f3b50;
    color: rgb(253, 253, 253);
    width:  25px;
    height: 25px; 
    border-radius: 50%;
    margin-right: 15px;
    font-size: 13px;
    position: relative;
    margin-right: 0.3cm;
    margin-left: 0.3cm;
}
.contactinfo .icon i
{
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.contactinfo ul li .text
{ 
    color: #fff;
    text-indent: -0.2cm;
    margin-top: 0.1cm;
    margin-right: 1cm;
    margin-left: 0.3cm;
    font-size: 12px;
}
.title
{
  font-size: 1em; 
  color:#fff;
  margin-left: 0.3cm;
  font-size: 15px;
}
.MUCTIEUNGHENGHIEP h5
{
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    margin-right: 0.3cm;
    margin-left: 0.3cm;
}
.un
{
    list-style: none;
    line-height: 1cm;
    color: #fff;
    margin-left:0.31cm;
}
.kinang
{
    margin-right: 0.3cm;
}
.kinang .title
{
    font-size: 1em; 
    color:#fff;
    margin-left:0.31cm;
}
 .kinang .percent
{
     position: relative;
     width: 100%;
     height: 6px;
     background: #fff;
     display: block;
}
.kinang .percent div
{
    position: abolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #0f3b50;
}
.sothich
{
    color: #fff;
    font-weight: normal;
    line-height: 0.8cm;
}
.sothich .title
{
    font-size: 1em; 
    color:#fff;
    margin-left:0.31cm;
}
.sothich ul li
{
    margin-left:0.7cm;
    font-size: 12px;
}
.container .right_side 
{
    position: relative;
    background:#fff;
    padding: 20px;
    width: 600px;
}
.hocvan
{
    margin-bottom: 20px;
}
.hocvan :last-child
{
    margin-bottom:0;
}
.hocvan .icon
{
    background: #0f3b50;
    color: rgb(253, 253, 253);
    width:  25px;
    height: 25px; 
    border-radius: 50%;
    margin-right: 15px;
    font-size: 13px;
    position: relative;
}
.hocvan .icon i
{
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hocvan .title2
{
    color: #0f3b50;
    letter-spacing: 1px;
    margin-bottom:10px;
    font-weight: 1000;
    margin-left: 0.8cm;
    margin-top:-0.55cm;
}
.hocvan .text
{
    line-height: 0.5cm;
}
.hocvan .box 
{
    display: flex;
    flex-direction:row ;
    margin: 20px 0;
}
.hocvan .box .namhoc
{ 
    margin-left:auto;
}
.hocvan .box .text h5
{
    color: #0f3b50;
}
.hocvan .box .text h6
{
    font-weight:100;
}
.title3
{
    color: #0f3b50;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 1000;   
    margin-left: 0.8cm;
    margin-top:-0.55cm;
}
.kinhnghiemlamviec .icon
{
    background: #0f3b50;
    color: rgb(253, 253, 253);
    width:  25px;
    height: 25px; 
    border-radius: 50%;
    margin-right: 15px;
    font-size: 13px;
    position: relative;
}
.kinhnghiemlamviec .icon i
{
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.kinhnghiemlamviec .box
{
    display: flex;
    flex-direction:row ;
    margin: 20px 0;
    text-align: left;

}
.kinhnghiemlamviec .box .thoigian
{
   margin-left: auto;
}
.kinhnghiemlamviec .box .text h5
{
    width: 400px;
    text-transform: uppercase;
    color: #0f3b50;
}
.kinhnghiemlamviec .box .text h6
{
    text-transform: none;
    font-weight: 540;
}
.title4
{
    color: #0f3b50;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 1000;   margin-left: 0.8cm;
    margin-top:-0.55cm;
}
.duan .icon
{
    background: #0f3b50;
    color: rgb(253, 253, 253);
    width:  25px;
    height: 25px; 
    border-radius: 50%;
    margin-right: 15px;
    font-size: 13px;
    position: relative;
}
.duan .icon i
{
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.duan .box
{
    display: flex;
    flex-direction:row ;
    margin: 20px 0;
    text-align: left;
}
.duan .box .thoigian
{
   margin-left: auto;
}
.duan .box .text h5
{
    width: 400px;
    text-transform: uppercase;
    color: #0f3b50;
}
.duan .box .text h6
{
    width: 430px;
    font-weight: initial;
    line-height: 0.4cm;
    color: rgb(0, 0, 0);
}
.duan .box .text h6 ul li
{
    list-style: none;
}
