@Import url('https: //fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}
body
{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 100px;
    min-height: 1000px;
    background:	#fff;
    margin: 50px;
    display: flex;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left_side
{
    position: relative;
    background: #2483af;
    padding: 40px;
}

.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    
}
.profileText .imgBx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    line-height: 1.2em;
}
.profileText h2 span
{
    font-style: oblique;
    font-size: 0.8em;
    font-weight: 300;
}
.contactinfo ul
{
    position: relative;
}
.contactinfo ul li
{
    position: relative;
    list-style: none;
    margin: 3px 0;
    cursor: pointer;
}
.contactinfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-style: 18px;
    font-size: 13px;
    color: rgb(255, 255, 255)
}
.contactinfo ul li .text
{
 color: #fff;
 font-size: 13px;  
}
.title
{
  font-size: 1em; 
  color:#fff;
}
.MUCTIEUNGHENGHIEP h5
{
    font-weight: 300;
    color: #fff 
}
.un
{
    list-style: none;
    line-height: 2em;
    color: #fff;
}
.kinang .title
{
    font-size: 1em; 
    color:#fff;
}
 .kinang .percent
{
     position: relative;
     width: 100%;
     height: 6px;
     background: #fff;
     display: block;
     margin-top: 5px;
}
.kinang .percent div
{
    position: abolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #075072;
}
.sothich
{
    color: #fff;
    font-weight: normal;
    line-height: 0.8cm;
}
.sothich .title
{
    font-size: 1em; 
    color:#fff;
}
.container .right_side 
{
    position: relative;
    background:#fff;
    padding: 30px;
    width: 600px;
}
.hocvan
{
    margin-bottom: 50px;
}
.hocvan :last-child
{
    margin-bottom:0;
}
.title2
{
    color: rgb(21, 80, 107);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 1000;
}
.hocvan .text
{
    line-height: 0.5cm;
}
.hocvan .box 
{
    display: flex;
    flex-direction:row ;
    margin: 20px 0;
}
.hocvan .box .namhoc
{ 
    margin-left:auto;
}
.hocvan .box .text h5
{
    color: rgb(21, 80, 107);
}
.hocvan .box .text h6
{
    font-weight:100;
}
.title3
{
    color: rgb(21, 80, 107);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 1000;   
}
.kinhnghiemlamviec .box
{
    display: flex;
    flex-direction:row ;
    margin: 20px 0;
    text-align: left;

}
.kinhnghiemlamviec .box .thoigian
{
   margin-left: auto;
}
.kinhnghiemlamviec .box .text h5
{
    width: 400px;
    text-transform: uppercase;
    color: rgb(21, 80, 107);
}
.kinhnghiemlamviec .box .text h6
{
    text-transform: none;
    font-weight: 540;
}
.title4
{
    color: rgb(21, 80, 107);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 1000;   
}
.duan .box
{
    display: flex;
    flex-direction:row ;
    margin: 20px 0;
    text-align: left;
}
.duan .box .thoigian
{
   margin-left: auto;
}
.duan .box .text h5
{
    width: 400px;
    text-transform: uppercase;
    color: rgb(21, 80, 107);
}
.duan .box .text h6
{
    width: 430px;
    font-weight: initial;
    line-height: 0.4cm;
    color: rgb(0, 0, 0);
}
.duan .box .text h6 ul li
{
    list-style: none;
}